@use '/src/styles/style.scss';

.menu {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 8px;
  background-color: style.$white;
  border-radius: 16px;
  text-align: left;
}

.title {
  margin: 0;
  padding: 8px;
  font-size: style.$title-font-size;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.entry {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 8px;
  list-style: none;
  border-radius: 8px;
  font-size: style.$font-size;
  font-weight: 400;
  text-align: center;
}

.active {
  background-color: style.$icon_blue;
  color: style.$white;
}

.footprint {
  display: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-bottom: 48px;
  width: 80%;
  height: fit-content;
}

.btn {
  width: fit-content;
  min-width: 152px;
  margin: 48px auto 0px auto;
  padding: 16px 24px;
  color: style.$white;
  background-color: style.$icon_orange;
  border: 1px solid style.$icon_orange;
  border-radius: 100px;
  &:hover {
    color: style.$icon_orange;
    background-color: style.$white;
    cursor: pointer;
  }
}

.infoTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tableTitle {
  font-size: style.$form-title-size;
  font-weight: 400;
  margin: 0;
}

.tableBody {
  width: 100%;
  margin-top: 34px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputTitle {
  margin-bottom: 12px;
  font-size: style.$point-font-size;
}

%input {
  height: 48px;
  padding: 16px;
  border: 1px solid style.$light_gray;
  border-radius: 8px;
  font-size: style.$font-size;
}

.emailInput {
  @extend %input;
  width: 100%;
  background-color: style.$light_gray;
}


.userInfoTable {
  background-color: style.$white;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: style.$white;
  border-radius: 8px;
}

%info {
  display: grid;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  background-color: style.$white;
  border-radius: 8px;
  font-size: style.$font-size;
  place-content: center;
  line-height: 24px;
}

.petInfo {
  @extend %info;
  grid-template-columns: 80px auto auto 1fr;
  cursor: pointer;
}

.reserveInfo {
  @extend %info;
  grid-template-columns: 90px 98px 1fr auto;
}

.reserveInfoEntry:nth-last-of-type(1) {
  margin-bottom: 16px;
}

.rightAngle {
  border-radius: 8px 8px 0 0;
}

.petInfoTitle {
  text-align: start;
}

.infoDate {
  text-align: start;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 2px 8px;
}

.petInfoGroup {
  text-align: start;
  color: style.$disabled_gray;
}

.revserveInfoDay {
  display: none;
}

.openArrow {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url('/public/svg/open_arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease;
  justify-self: end;
}

.invert {
  transform: rotate(180deg);
}

.infoRow {
  display: grid;
  grid-template-columns: 90px auto;
  width: 100%;
  height: 36px;
  padding: 8px 16px;
  background-color: style.$white;
  font-size: style.$font-size;
  align-items: start;
  line-height: 24px;
}


.dividerBg {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: style.$white;
  padding: 2px 0;
}

.divider {
  height: 1px;
  width: 92%;
  background-color: style.$light_gray;
}

.infoTitle {
  text-align: start;
}

.info {
  text-align: start;
}

.numInfo {
  text-align: start;
  font-weight: 700;
  color: style.$icon_blue;
}

.petInfoBody {
  display: flex;
  flex-direction: column;
  background-color: style.$white;
}

.petbodyInfo {
  text-align: left;
  padding: 0 16px;
  color: style.$disabled_gray;
}

.btnGroup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: fit-content;
  padding: 8px;
  background-color: style.$white;
  border-radius: 0 0 8px 8px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 4%;
    width: 92%;
    height: 1px;
    background-color: style.$light_gray;
  }
}

.reserveBtnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: fit-content;
  padding: 8px;
  background-color: style.$white;
  border-radius: 0 0 8px 8px;
}

.deleteBtn,
.editBtn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 6px;
  border: none;
  border-radius: 4px;
  line-height: normal;
}

.deleteBtn {
  background-color: rgba(105, 105, 105, 0.2);
  color: style.$font_gray;
}

.editBtn {
  background-color: rgba(58, 134, 186, 0.2);
  color: style.$icon_blue;
}

.editPetForm {
  width: 100%;
  margin-top: 34px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.passwordInput {
  width: 100%;
  height: 48px;
  padding: 16px;
  border: 1px solid style.$light_gray;
  border-radius: 8px;
  font-size: style.$font-size;
}

.googleHint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  height: fit-content;
  padding: 16px;
  background-color: style.$white;
  border-radius: 8px;
  text-align: left;
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: style.$wrapper_width;
    min-height: 45vh;
  }

  .reserveInfo:hover {
    cursor: pointer;

    & .openArrow {
      opacity: 0.8;
    }
  }

  .menu {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 8px;
    background-color: style.$white;
    border-radius: 16px;
    text-align: left;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 8px;
    list-style: none;
    border-radius: 8px;
    font-size: style.$font-size;
    font-weight: 400;
  }

  .active {
    background-color: style.$icon_blue;
    color: style.$white;

    .footprint {
      background-image: url('/public/svg/footprint_white.svg');
      transform: rotate(30deg);
      transition: transform 0.3s ease;
    }
  }

  .footprint {
    display: block;
    width: 14px;
    height: 13px;
    margin-right: 10px;
    background-image: url('/public/svg/footprint.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    transition: transform .3s ease;
  }

  .btn {
    margin-top: 52px;
  }

  .deleteBtn:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.2);
    color: style.$dark_gray;
  }

  .disable {
    background-color: rgba(105, 105, 105, 0.1);
    color: style.$disabled_gray;

    &:hover {
      cursor: auto;
      background-color: rgba(105, 105, 105, 0.1);
      color: style.$disabled_gray;
    }
  }

  .editBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 59, 99, 0.2);
    color: style.$icon_gray;
  }

  .infoTable {
    min-width: 500px;
    width: 100%;
  }

  .petInfo {
    grid-template-columns: 90px auto auto 1fr auto;
    cursor: pointer;
  }

  .revserveInfoDay {
    display: block;
    text-align: start;
    color: style.$disabled_gray;
  }

  .googleHint {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 56px;
    margin-bottom: 84px;
  }

  .menu {
    width: 240px;
    height: fit-content;
    padding: 8px;
    background-color: style.$white;
    border-radius: 16px;
    text-align: center;
  }

  .title {
    margin: 0;
    padding: 20px;
    font-size: style.$title-font-size;
    font-weight: 400;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  .entry {
    width: 100%;
    margin: 0;
    padding: 16px;
    list-style: none;
    border-radius: 8px;
    font-size: style.$font-size;
    font-weight: 400;

    &:hover {
      background-color: style.$info_gray;
      cursor: pointer;

      .footprint {
        transform: rotate(30deg);
        transition: transform .3s ease;
      }
    }
  }

  .active {
    background-color: style.$icon_blue;
    color: style.$white;

    &:hover {
      background-color: style.$icon_blue;
    }

    .footprint {
      background-image: url('/public/svg/footprint_white.svg');
      transform: rotate(30deg);
      transition: transform 0.3s ease;
    }
  }

  .footprint {
    display: block;
    width: 14px;
    height: 13px;
    margin-right: 10px;
    background-image: url('/public/svg/footprint.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    transition: transform .3s ease;
  }

  .infoTable {
    width: fit-content;
  }
}